<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        
        <!-- Tells the LSPosed manager app that this is an active hook module -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Remaps system UI battery scale from physical 20%-80% into 0%-100% display layer." />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>
